// About Section

.about-name,
.about-me-container,
.about-pic,
.about-text,
.skills-container,
.skills-title {
    display: flex;
}

.about-name,
.about-text,
.skills-title {
    flex-direction: column;
}

.about-name,
.about-pic,
.skills-container,
.skills-title {
    align-items: center;
}

.skills-container,
.skills-title,
.about-me-container,
.about-pic,
.about-text,
.skills-container,
.skills-title {
    justify-content: center;
}

.about-text p a:hover,
.about-name h2 {
    @include underline($orange);
}


.about-me {
    min-height: 100vh;
    padding-top: 20px;

}


.about-me-container {
    align-items: stretch;
    margin: 45px 0;
    width: 100%;

        .about-pic {
            margin-right: 30px;
            width: 35%;

        }
}       


.about-text {
    width: 60%;
    
        p {
            @include font-size(18);

            &:nth-of-type(2),
            &:nth-of-type(3) {
                margin: 25px 0;
            }

            span {
                font-weight: bold;
            }

        }

}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;

    li {
        flex-basis: 20%;
        text-align: center;

        i {
            font-size: 4rem;

            &:hover {
                border-bottom: 4px solid $orange;
            }

            &:active {
                border-bottom: 4px solid $yellow;
            }

            &:focus {
               outline: 1px dotted $yellow; 
            }

        }

    }
}


// Skills Section

.skills  {
    height: 100vh;

    h2 span {
        @include underline($yellow);

    }

}

h3,
.skills p {
    font-weight: lighter;
}


.skills-container {
    flex-wrap: wrap;
    margin: 6% auto;

}


.skills-title {
    flex-basis: calc(20% - 10px);
    margin: 10px;
    padding: 10px;

        i {
            font-size: 6.5rem;
            color: $yellow;
            text-shadow: 3px 3px 0 $orange;

            &:hover {
                transform: scale(1.2);
            }
        }

        p {
            text-align: center;
            font-size: 1.5rem;
        }
}
