// About Section
.about-me {
    min-height: 100vh;
    padding-top: 20px;

    .about-name {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {

            @include underline($orange);
               
        }

    }
}



.about-me-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 45px 0;
    width: 100%;

        .about-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            width: 35%;

                img {
                    height: auto;
                }
        }
}       


.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    
        p {
            @include font-size(18);

            &:nth-of-type(2),
            &:nth-of-type(3) {
                margin: 25px 0;
            }

            span {
                font-weight: bold;
            }

            a:hover {
                @include underline($orange);
            }
        }

        
}




// Skills Section

.skills  {
    height: 100vh;

    h2 span {
        @include underline($yellow);

    }

}

h3,
.skills p {
    font-weight: lighter;
}


// Relevant Skills
.skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;


        .skill-row {
            display: flex; 
            justify-content: center;
            align-items: center;
            width: 90%; 
            margin: 15px auto;
            
        }
}



// Soft Skills
.soft-skills { 
    display: flex;
    flex-direction: column;
    

        h3 {
            margin: 10px auto;
        }

        .soft-skills-container {
            display: flex;
            justify-content: space-around;

        }

}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(25% - 10px);

        i {
            font-size: 5.5rem;

            &:hover {
                transform: scale(1.2);
            }
        }

        p {
            text-align: center;
            font-size: 1.5rem;
        }
}



    
// Media Query 1000px for text beside picture change font size