// Fonts

$sen-font: "Sen", sans-serif;

@mixin font-size($size){
    font-size: ($size/10) * 1rem;
}



// Colours
$black: #030200;
$white: #F8F8F8;
$grey: #C4C4C4;

$yellow:  #FFA818;
$orange: #F06000;
$green: #CCF83C;


