// Landing Page

.welcome {
    background-color: $black;
    color: $white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

        .name {
            box-shadow: inset 0px -6px 0px 0px $yellow;
        }
        
}


.arrow {
    @include font-size(55);
    cursor: pointer;
    
    &:active {
        border-bottom: 4px solid $orange;
    }

    &:hover {
        transform: scale(1.1);
        color: $yellow;
    }
}

