@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com 
 */
@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons.eot?xqxft6");
  src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.devicons {
  font-family: 'devicons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devicons-git:before {
  content: "";
}

.devicons-git_compare:before {
  content: "";
}

.devicons-git_branch:before {
  content: "";
}

.devicons-git_commit:before {
  content: "";
}

.devicons-git_pull_request:before {
  content: "";
}

.devicons-git_merge:before {
  content: "";
}

.devicons-bitbucket:before {
  content: "";
}

.devicons-github_alt:before {
  content: "";
}

.devicons-github_badge:before {
  content: "";
}

.devicons-github:before {
  content: "";
}

.devicons-github_full:before {
  content: "";
}

.devicons-java:before {
  content: "";
}

.devicons-ruby:before {
  content: "";
}

.devicons-scala:before {
  content: "";
}

.devicons-python:before {
  content: "";
}

.devicons-go:before {
  content: "";
}

.devicons-ruby_on_rails:before {
  content: "";
}

.devicons-django:before {
  content: "";
}

.devicons-markdown:before {
  content: "";
}

.devicons-php:before {
  content: "";
}

.devicons-mysql:before {
  content: "";
}

.devicons-streamline:before {
  content: "";
}

.devicons-database:before {
  content: "";
}

.devicons-laravel:before {
  content: "";
}

.devicons-javascript:before {
  content: "";
}

.devicons-angular:before {
  content: "";
}

.devicons-backbone:before {
  content: "";
}

.devicons-coffeescript:before {
  content: "";
}

.devicons-jquery:before {
  content: "";
}

.devicons-modernizr:before {
  content: "";
}

.devicons-jquery_ui:before {
  content: "";
}

.devicons-ember:before {
  content: "";
}

.devicons-dojo:before {
  content: "";
}

.devicons-nodejs:before {
  content: "";
}

.devicons-nodejs_small:before {
  content: "";
}

.devicons-javascript_shield:before {
  content: "";
}

.devicons-bootstrap:before {
  content: "";
}

.devicons-sass:before {
  content: "";
}

.devicons-css3_full:before {
  content: "";
}

.devicons-css3:before {
  content: "";
}

.devicons-html5:before {
  content: "";
}

.devicons-html5_multimedia:before {
  content: "";
}

.devicons-html5_device_access:before {
  content: "";
}

.devicons-html5_3d_effects:before {
  content: "";
}

.devicons-html5_connectivity:before {
  content: "";
}

.devicons-ghost_small:before {
  content: "";
}

.devicons-ghost:before {
  content: "";
}

.devicons-magento:before {
  content: "";
}

.devicons-joomla:before {
  content: "";
}

.devicons-jekyll_small:before {
  content: "";
}

.devicons-drupal:before {
  content: "";
}

.devicons-wordpress:before {
  content: "";
}

.devicons-grunt:before {
  content: "";
}

.devicons-bower:before {
  content: "";
}

.devicons-npm:before {
  content: "";
}

.devicons-yahoo_small:before {
  content: "";
}

.devicons-yahoo:before {
  content: "";
}

.devicons-bing_small:before {
  content: "";
}

.devicons-windows:before {
  content: "";
}

.devicons-linux:before {
  content: "";
}

.devicons-ubuntu:before {
  content: "";
}

.devicons-android:before {
  content: "";
}

.devicons-apple:before {
  content: "";
}

.devicons-appstore:before {
  content: "";
}

.devicons-phonegap:before {
  content: "";
}

.devicons-blackberry:before {
  content: "";
}

.devicons-stackoverflow:before {
  content: "";
}

.devicons-techcrunch:before {
  content: "";
}

.devicons-codrops:before {
  content: "";
}

.devicons-css_tricks:before {
  content: "";
}

.devicons-smashing_magazine:before {
  content: "";
}

.devicons-netmagazine:before {
  content: "";
}

.devicons-codepen:before {
  content: "";
}

.devicons-cssdeck:before {
  content: "";
}

.devicons-hackernews:before {
  content: "";
}

.devicons-dropbox:before {
  content: "";
}

.devicons-google_drive:before {
  content: "";
}

.devicons-visualstudio:before {
  content: "";
}

.devicons-unity_small:before {
  content: "";
}

.devicons-raspberry_pi:before {
  content: "";
}

.devicons-chrome:before {
  content: "";
}

.devicons-ie:before {
  content: "";
}

.devicons-firefox:before {
  content: "";
}

.devicons-opera:before {
  content: "";
}

.devicons-safari:before {
  content: "";
}

.devicons-swift:before {
  content: "";
}

.devicons-symfony:before {
  content: "";
}

.devicons-symfony_badge:before {
  content: "";
}

.devicons-less:before {
  content: "";
}

.devicons-stylus:before {
  content: "";
}

.devicons-trello:before {
  content: "";
}

.devicons-atlassian:before {
  content: "";
}

.devicons-jira:before {
  content: "";
}

.devicons-envato:before {
  content: "";
}

.devicons-snap_svg:before {
  content: "";
}

.devicons-raphael:before {
  content: "";
}

.devicons-google_analytics:before {
  content: "";
}

.devicons-compass:before {
  content: "";
}

.devicons-onedrive:before {
  content: "";
}

.devicons-gulp:before {
  content: "";
}

.devicons-atom:before {
  content: "";
}

.devicons-cisco:before {
  content: "";
}

.devicons-nancy:before {
  content: "";
}

.devicons-clojure:before {
  content: "";
}

.devicons-clojure_alt:before {
  content: "";
}

.devicons-perl:before {
  content: "";
}

.devicons-celluloid:before {
  content: "";
}

.devicons-w3c:before {
  content: "";
}

.devicons-redis:before {
  content: "";
}

.devicons-postgresql:before {
  content: "";
}

.devicons-webplatform:before {
  content: "";
}

.devicons-jenkins:before {
  content: "";
}

.devicons-requirejs:before {
  content: "";
}

.devicons-opensource:before {
  content: "";
}

.devicons-typo3:before {
  content: "";
}

.devicons-uikit:before {
  content: "";
}

.devicons-doctrine:before {
  content: "";
}

.devicons-groovy:before {
  content: "";
}

.devicons-nginx:before {
  content: "";
}

.devicons-haskell:before {
  content: "";
}

.devicons-zend:before {
  content: "";
}

.devicons-gnu:before {
  content: "";
}

.devicons-yeoman:before {
  content: "";
}

.devicons-heroku:before {
  content: "";
}

.devicons-debian:before {
  content: "";
}

.devicons-travis:before {
  content: "";
}

.devicons-dotnet:before {
  content: "";
}

.devicons-codeigniter:before {
  content: "";
}

.devicons-javascript_badge:before {
  content: "";
}

.devicons-yii:before {
  content: "";
}

.devicons-msql_server:before {
  content: "";
}

.devicons-composer:before {
  content: "";
}

.devicons-krakenjs_badge:before {
  content: "";
}

.devicons-krakenjs:before {
  content: "";
}

.devicons-mozilla:before {
  content: "";
}

.devicons-firebase:before {
  content: "";
}

.devicons-sizzlejs:before {
  content: "";
}

.devicons-creativecommons:before {
  content: "";
}

.devicons-creativecommons_badge:before {
  content: "";
}

.devicons-mitlicence:before {
  content: "";
}

.devicons-senchatouch:before {
  content: "";
}

.devicons-bugsense:before {
  content: "";
}

.devicons-extjs:before {
  content: "";
}

.devicons-mootools_badge:before {
  content: "";
}

.devicons-mootools:before {
  content: "";
}

.devicons-ruby_rough:before {
  content: "";
}

.devicons-komodo:before {
  content: "";
}

.devicons-coda:before {
  content: "";
}

.devicons-bintray:before {
  content: "";
}

.devicons-terminal:before {
  content: "";
}

.devicons-code:before {
  content: "";
}

.devicons-responsive:before {
  content: "";
}

.devicons-dart:before {
  content: "";
}

.devicons-aptana:before {
  content: "";
}

.devicons-mailchimp:before {
  content: "";
}

.devicons-netbeans:before {
  content: "";
}

.devicons-dreamweaver:before {
  content: "";
}

.devicons-brackets:before {
  content: "";
}

.devicons-eclipse:before {
  content: "";
}

.devicons-cloud9:before {
  content: "";
}

.devicons-scrum:before {
  content: "";
}

.devicons-prolog:before {
  content: "";
}

.devicons-terminal_badge:before {
  content: "";
}

.devicons-code_badge:before {
  content: "";
}

.devicons-mongodb:before {
  content: "";
}

.devicons-meteor:before {
  content: "";
}

.devicons-meteorfull:before {
  content: "";
}

.devicons-fsharp:before {
  content: "";
}

.devicons-rust:before {
  content: "";
}

.devicons-ionic:before {
  content: "";
}

.devicons-sublime:before {
  content: "";
}

.devicons-appcelerator:before {
  content: "";
}

.devicons-asterisk:before {
  content: "";
}

.devicons-aws:before {
  content: "";
}

.devicons-digital-ocean:before {
  content: "";
}

.devicons-dlang:before {
  content: "";
}

.devicons-docker:before {
  content: "";
}

.devicons-erlang:before {
  content: "";
}

.devicons-google-cloud-platform:before {
  content: "";
}

.devicons-grails:before {
  content: "";
}

.devicons-illustrator:before {
  content: "";
}

.devicons-intellij:before {
  content: "";
}

.devicons-materializecss:before {
  content: "";
}

.devicons-openshift:before {
  content: "";
}

.devicons-photoshop:before {
  content: "";
}

.devicons-rackspace:before {
  content: "";
}

.devicons-react:before {
  content: "";
}

.devicons-redhat:before {
  content: "";
}

.devicons-scriptcs:before {
  content: "";
}

.devicons-sqllite:before {
  content: "";
}

.devicons-vim:before {
  content: "";
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 10vh;
}

.top-nav li {
  margin: 15px;
}

.top-nav li:last-of-type {
  display: none;
}

.top-nav li:hover {
  border-bottom: 4px solid #FFA818;
}

.top-nav li:active {
  border-bottom: 4px solid #F06000;
}

.top-nav li:focus {
  outline: 1px dotted #FFA818;
}

.top-nav a {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.welcome {
  background-color: #030200;
  color: #F8F8F8;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.welcome .wrapper .name {
  -webkit-box-shadow: inset 0px -6px 0px 0px #FFA818;
          box-shadow: inset 0px -6px 0px 0px #FFA818;
}

.welcome-name {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-area: 4 / 2 / 7 / 9;
}

.arrow {
  font-size: 5.5rem;
  cursor: pointer;
}

.arrow:active {
  border-bottom: 4px solid #F06000;
}

.arrow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #FFA818;
}

.about-me {
  min-height: 100vh;
  padding-top: 20px;
}

.about-me .about-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 45px 0;
  width: 100%;
}

.about-me-container .about-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 35%;
}

.about-me-container .about-pic img {
  height: auto;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.about-text p {
  font-size: 1.8rem;
}

.about-text p:nth-of-type(2) {
  margin: 25px 0;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.5rem;
  -webkit-text-decoration: underline 5px #F06000;
          text-decoration: underline 5px #F06000;
  margin-bottom: 10px;
}

h2 span {
  font-size: 2.5rem;
}

.skills {
  height: 100vh;
}

.skills h2 {
  -webkit-text-decoration: underline 5px #FFA818;
          text-decoration: underline 5px #FFA818;
}

h3,
.skills p {
  font-weight: lighter;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto;
}

.skills-container .skill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 15px auto;
}

.soft-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.soft-skills h3 {
  margin: 10px auto;
}

.soft-skills .soft-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc(25% - 10px);
      flex-basis: calc(25% - 10px);
}

.skills-title i {
  font-size: 5.5rem;
}

.skills-title i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.skills-title p {
  text-align: center;
  font-size: 1.5rem;
}

.projects {
  height: 100%;
}

.projects h2 {
  -webkit-text-decoration: underline 5px #F06000;
          text-decoration: underline 5px #F06000;
}

.projects h3,
.projects h4,
.projects .icon-text,
.projects .project-links,
.projects .project-icons-container {
  margin: 10px 0;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project i {
  font-size: 4.5rem;
}

.project i:hover {
  color: #F06000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project a {
  text-transform: uppercase;
}

.project a:hover {
  -webkit-text-decoration: underline 4px #F06000;
          text-decoration: underline 4px #F06000;
}

.project p:first-of-type {
  margin: 5px 0;
}

.mockup,
.project-text {
  width: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-text .project-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-text:nth-child(2),
.mockup:nth-child(2) {
  margin-left: 50px;
}

.project-text:nth-child(1) {
  text-align: right;
}

.project-text:nth-child(1) .project-icons-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-text:nth-child(1),
.mockup:nth-child(1) {
  margin-right: 50px;
}

.project-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  font-size: 62.5%;
}

img {
  min-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  width: 90%;
}

h1,
h2,
h3,
h4,
p,
button,
form,
a,
input,
ul,
li {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: #F8F8F8;
}

body {
  font-size: 2rem;
  font-family: "Sen", sans-serif;
  background-color: #030200;
  color: #F8F8F8;
  line-height: 1.6;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
.skills p,
button {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 4.5rem;
}

.spacer {
  height: 20vh;
}
